<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="737c76dc-7809-4009-bba3-b7c6c25a131b" Publisher="CN=v-ahsab" Version="1.0.0.0" />
  <Properties>
    <DisplayName>CameraDemo</DisplayName>
    <PublisherDisplayName>v-ahsab</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="CameraDemo.App">
      <VisualElements DisplayName="CameraDemo" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="CameraDemo" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="videosLibrary" />
    <Capability Name="picturesLibrary" />
    <Capability Name="internetClient" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>